<ion-header>
  <ion-toolbar>
    <ion-title>
      Panel & Section Calculator
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onOpenInfo()">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2">

        <ion-card>

          <ion-card-header>
            <ion-card-subtitle>Panel Calculator</ion-card-subtitle>
          </ion-card-header>
          <img src="assets/images/panel.png" alt="panel">
          <ion-card-content>
            We have a gate width, posts diameters, the gap between frames and vertical bars diameter. The calculator calculates middle horizontal bar length, the gap between vertical bars and starts points for horizontal bars. 
            <div class="ion-text-center">

              <ion-button fill="outline" color="dark" routerLink="/panel">
                GO TO PANEL CALCULATOR
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
  
            </div>
          </ion-card-content>

        </ion-card>

        <ion-card>

          <ion-card-header>
            <ion-card-subtitle>Section Calculator</ion-card-subtitle>
          </ion-card-header>
          <img src="assets/images/section-1.png" alt="panel sections">
          <ion-card-content>
            We have a middle horizontal bar length. The calculator calculates the gap between vertical bars and starts points for vertical bars.
            <div class="ion-text-center">

              <ion-button fill="outline" color="dark" routerLink="/section">
                GO TO SECTION CALCULATOR
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
  
            </div>
          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
